<div class="conduct-page">
<div class="conduct-wrapper">
<img class="card-img-top" src="https://res.cloudinary.com/idea-hackers/image/upload/v1567463177/background/hwu_1_ttbh2i.jpg" alt="Join Idea Hackers">
<div class="card card-body">
    <div class="jumbotron pt-2">
        <h1 class="text-center display-4">Registration Form</h1>
        <a href="http://ideahack.club/info" class="btn btn-block btn-info">Learn More</a>
        <p class="text-center pt-3">Please fill out this application to the best of your ability. Once submitted, your application
            will be reviewed by our awesome team. You will <b>NOT</b> be judged based on your ability's or experience. This form is
            likewise for understanding our club members, and sharing this information with possible employers if you
            consent later.</p>
        <form action="/user/register/submit" class="pt-3" method="post">
            <div class="form-group">
                <label for="nameFirst">First Name *</label>
                <input type="text" class="form-control" id="nameFirst" name="nameFirst" placeholder="Mark"
                       value="{{nameFirst}}" required>
            </div>
            <div class="form-group">
                <label for="nameLast">Last Name *</label>
                <input type="text" class="form-control" id="nameLast" name="nameLast" placeholder="Zuckerberg"
                       value="{{nameLast}}" required>
            </div>
            <div class="form-group">
                <label for="email">WIT Email Address *</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="name@wit.edu"
                       value="{{email}}" required>
                <small id="responseMin" class="form-text text-muted">For the time being, we are only excepting WIT students. If you are interested in joining, please <a href="https://www.ideahack.club/contact">send us a message.</a></small>


                        <div class="valid-feedback">School: {{school_name}}</div>
                    </div>
                    <div class="form-group">
                        <label for="password">Account Password *</label>
                        <input type="password" class="form-control" id="password" name="password" value="{{password}}"
                               required>
                    </div>
                    <div class="form-group">
                        <label for="passwordConfirm">Confirm Password *</label>
                        <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm"
                               value="{{passwordConfirm}}" required>
                        <small id="passwordDisclaim" class="form-text text-muted">Note that your password will not be
                            included
                            in the application and is for account creation purposes only.
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="year">Academic Year *</label>
                        <select class="form-control" id="year" name="year" value="{{year}}" required>
                            <option>Freshmen</option>
                            <option>Sophomore</option>
                            <option>Junior</option>
                            <option>Senior</option>
                            <option>Fifth Year</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="major">Decided Major *</label>
                        <input type="text" class="form-control" id="major" name="major" placeholder="Computer Science"
                               value="{{major}}" required>
                    </div>
                    <div class="form-group">
                        <label for="reasonForJoining">Tell us about yourself!</label>
                        <textarea class="form-control" id="reasonForJoining" name="reasonForJoining" rows="3"
                                  spellcheck="false"
                        >{{reasonForJoining}}</textarea>
                        <small id="responseMin" class="form-text text-muted">For example, what your interests are or why
                            you want to join. Go crazy!
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="portfilioURL">Website URL (Optional)</label>
                        <input type="text" class="form-control" id="portfilioURL" name="portfilioURL"
                               value="{{portfilioURL}}"
                               placeholder="johndoe.me/">
                        <small id="fileHelp" class="form-text text-muted">This could be your Linkedin profile, or Github
                            for example
                        </small>

                    </div>
                    <div class="form-group">
                        <label for="resumeFile">Resume URL (Optional)</label>
                        <input type="text" class="form-control-file" id="resumeFile" name="resumeFile"
                               aria-describedby="fileHelp" placeholder="johndoe.me/resume.pdf">
                        <small id="fileHelp" class="form-text text-muted">Please submit a link that's direct to the
                            resume file. Thanks!
                        </small>
                    </div>
                    <div class="form-check pb-3">
                        <label class="form-check-label">
                            <input id="notMinor" name="notMinor" class="form-check-input" type="checkbox" value=""
                                   required>
                            I agree that I am at least 18 years of age.
                            If not, please email us at&nbsp;
                            <a href="mailto:contact@ideahack.club?Subject=Under%2018,%20Please%20Help!" target="_top">contact@ideahack.club</a>
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>